[2020-07-24 01:42] christopherfujino opened #7 "[feature-request] `snap install flutter --classic` should trigger download of the Flutter SDK"
Hello, thanks so much for providing this! I am completely new to snaps, so I'm not sure exactly how they work. It seems to me like `flutter.sh` is wrapping Flutter's native entrypoint with logic to ensure the correct version of the SDK is installed locally.

On [this issue](https://github.com/flutter/flutter/issues/62129), a user installed the Flutter snap, and then with their first flutter comman

[2020-07-30 07:34] DanTup opened #8 "Can this by made to work without needing a custom flutter script (eg. just run the script from (sdk)/bin/flutter)?"
Currently the VS Code extension has some very specific handling for the Flutter Snap package and includes invoking a custom Flutter script (from the Snap) instead of the one inside the SDK. When discussing supporting the Snap in Android Studio/IntelliJ, some questions came up about this that I don't know the answers to (as I have a limited understanding of how Snaps work). Ideally, editors wouldn'

[2020-07-30 08:18] MarcusTomlinson commented on #8
**Some background:**

This snap was developed to provide a much more convenient way to install and use the Flutter SDK on Linux.

By simply running:

`snap install flutter --classic`

You'll have all the dependancies you need to begin developing Flutter applications. From here you can run: `flutter create`, `flutter run`, etc. as normal to perform flutter tasks - no need to install any further dep

[2020-08-04 07:16] MarcusTomlinson commented on #7
As things stand today, snaps are installed at root-level (i.e. with absolutely no awareness of which user will actually use it, if any), thus the Flutter repo can only be populated on first user run of the snap.

I'll leave this issue open in case we find a workaround for this in the future.

[2020-08-04 18:10] christopherfujino commented on #7
Ahh, that makes sense. Looks like `sudo` sets the `$SUDO_USER` var to whoever called it, but idk if that's getting too clever.

[2020-08-10 17:07] devoncarew commented on #8
Thanks for the detailed response!

I think Danny is referring to multiple IDEs (VS Code, Android Studio / IntelliJ, ...) and multiple installers (snap, mac's homebrew, windows msi / Windows Package Manager, ...). We'd like to avoid having to encode installer / package manager specific info into each IDE.

+1 - I definitely agree w/ trying to reduce the complexity and burden on the user.

If we hav

[2020-08-10 17:26] MarcusTomlinson commented on #8
@devoncarew, there's a chicken and egg situation here ^. The flutter SDK can't be the first thing we call because it doesn't exist until the snap is executed for the first time.

Our `flutter.sh` script does 3 things:
1. Set up environment variables.
2. Download the flutter SDK (if doesn't exist).
3. Run `flutter`.

If we expect users to initialise the flutter snap themselves externally to any IDE

[2020-08-10 17:42] fcole90 commented on #8
About 2, I wonder if it can be achieved just using a hook (like install hook): [[1](https://snapcraft.io/docs/supported-snap-hooks), [2](https://snapcraft.io/blog/snap-install-time-setup-the-install-hook)] rather than wait for the user to initialise it

[2020-08-10 17:50] MarcusTomlinson commented on #8
@fcole90, snaps install as root, hooks and all.

[2020-08-10 18:34] chenglu opened #10 "Detect the Environment Variables"
Hi Ken:

There's an [issue](https://github.com/cfug/flutter.cn/issues/708) filed from the Flutter China community:
The Flutter on the Snap store seems ignored the Environment Variables of Flutter: `PUB_HOSTED_URL` and `FLUTTER_STORAGE_BASE_URL`, could you please take a look on this?

Thanks!
cc @InMatrix

[2020-08-11 07:13] fcole90 commented on #8
@MarcusTomlinson so, do you mean that the issue is that the SDK would end up being owned by the user `root`? If we knew the user who triggered the install we might `chown` to her user. Of course, this doesn't scale well in multi-user systems, as the other users would anyway need to set it up themselves; but would possibly work in the most typical scenario (single-user system) :thinking:

[2020-08-11 07:59] MarcusTomlinson commented on #8
There are too many issues involved with this approach - users could be created after the snap is installed.  Home directories could be encrypted while the user is logged out.  Home directories might be auto-mounted network shares.  etc.

Honestly, I think the saner way forward is to just expect users to initiate the snap themselves after install. If we want to provide a better experience that does

[2020-08-11 09:57] MarcusTomlinson commented on #8
@devoncarew @fcole90, ok, @DanTup had a great suggestion for this:

1. Have the IDE use `$PATH` to find the `flutter` command.
2. Implement a `flutter --sdk-path` command that returns the path to the SDK directory.
3. Have the IDE try `flutter --sdk-path` _first_, and only if nothing valid is returned, assume its relativity to the `flutter` executable.

Note however that step 2. will not be instan

[2020-08-11 12:52] fcole90 commented on #8
It seems it can work fine!

[2020-08-11 19:30] DanTup commented on #8
I think the concern with this approach is that IDEs could no longer pass just an SDK path around, they need to pass a pair of (SDK path + flutter script path). This is less Snap-specific than the current VS Code implementation, but it still requires some specific handling that editors generally won't do unless they specifically know about it (which for now, would probably be to specifically suppor

[2020-08-12 07:02] aliyazdi75 opened #12 "When flutter is installed via Snap, there is no flutter/bin in Platform.environment['PATH']]"
https://github.com/flutter/flutter/issues/63325

[2020-08-13 19:24] devoncarew commented on #8
Yeah, I think there are two general approaches being discussed here:

1 - Have the IDEs query the flutter tool for the real path of the Flutter sdk
- mentioned in https://github.com/kenvandine/flutter-snap/issues/8#issuecomment-671850924
- this means that the IDE clients need to invoke a flutter cli command (ala flutter --sdk-path) before calling any other flutter cli commands
- requires some work

[2020-08-15 23:31] jonahwilliams commented on #8
I don't really understand 2. We currently look for these executables on the PATH, so the proposal is to move this to separate environment environment variables. Why is setting a different environment variable easier than updating the PATH?

[2020-08-16 04:44] MarcusTomlinson commented on #8
@jonahwilliams, we’re referring to these ^ runtime environment variables.

[2020-08-19 15:15] MarcusTomlinson commented on #8
@devoncarew, I think this is the way to go here. How do you suggest we get this going?

[2020-08-19 15:58] MarcusTomlinson commented on #8
@devoncarew, I think this is the way to go here. How do you suggest we get going with this?

(cc @jonahwilliams, @csells, @stuartmorgan)

[2020-08-19 20:53] jonahwilliams commented on #8
We could definitely load a bootstrap script at startup in the tool if it was present, format TBD?. This could be somewhere in `flutter/bin/internal` with a gitignore to avoid problems with untracked files.

[2020-08-19 20:58] jonahwilliams commented on #8
thinking out loud: probably something simple like JSON. Then ideally the injected ProcessManager could be provided these without needing to plumb things around to the rest of the tooling.

[2020-08-20 11:53] chenglu commented on #10
any updates on this?

[2020-09-15 14:53] MarcusTomlinson commented on #12
Hi @aliyazdi75, I'm not sure I understand the issue. What is 'flutter/bin' not being in the environment a problem for you?

[2020-09-15 17:30] aliyazdi75 commented on #12
Hello @MarcusTomlinson,
I have some scripts are using flutter tools like `l10n` and I need the root of `flutter/bin`, there is something code like that I found in `Gallary`, you can see at this [link](https://github.com/flutter/gallery/blob/2f803ebd369e8995aedb6ac1e6cdbb4101864b30/tool/grind.dart#L151 ).

[2020-09-16 18:04] MarcusTomlinson commented on #12
@aliyazdi75, I see. ok, I'll look into this tomorrow.

[2020-09-17 12:56] MarcusTomlinson commented on #12
@aliyazdi75 ok this is fixed in master now but not published just yet. So sorry this took so long :/

@kenvandine could you please trigger a new build?

[2020-09-17 13:12] aliyazdi75 commented on #12
Thanks a lot 🙏

[2020-09-17 15:29] MarcusTomlinson commented on #8
@jonahwilliams I'm battling to find a clean way to implement this. My first thought was to add an `environment` constructor variable to `LocalProcessManager` in process.dart, but it muddies up the implementation of the class a fair bit - we'd need new logic in each `run` and `start` method to combine custom and parent variables into `environment` as `includeParentEnvironment` would get ignored now

[2020-09-17 15:31] jonahwilliams commented on #8
ship it

[2020-09-17 15:32] jonahwilliams commented on #8
I think that doing it in the bash script, if it makes it significantly easier to maintain, is probably OK. Generally I like to avoid adding more code there, but provided there is some integration test somewhere covering it, it should be OK

[2020-09-18 05:18] #12 closed

[2020-09-19 10:27] DanTup commented on #8
If this is intended to be more general than snap, the PowerShell script may need something similar? (so maybe rather than `.txt` it should be it should be `.sh` and the PoSh script could execute a `.ps1` version?).

[2020-09-24 15:31] MarcusTomlinson commented on #10
Sorry for the delay @chenglu, will look into it tomorrow.

[2020-09-25 02:19] chenglu commented on #10
Great, thanks!

[2020-09-25 07:39] MarcusTomlinson commented on #10
@chenglu, ok, this is fixed in master now but not published to the snap store just yet. Once published, please run:

[code]

@kenvandine could you trigger a new build of the snap? Thanks!

[2020-09-25 14:46] MarcusTomlinson commented on #10
@chenglu this now published :)

[2020-09-25 14:46] #10 closed

[2020-09-29 18:24] #8 closed

[2020-09-30 08:58] DanTup commented on #8
@MarcusTomlinson thanks! With these changes, is the SDK complete at snap-install time, or does the script still need to be invoked once to set things up?

[2020-09-30 09:00] MarcusTomlinson commented on #8
This is correct. The snap will still require a first run to download the sdk.

[2020-09-30 09:09] DanTup commented on #8
Got it, thanks! Which channel does the Snap package use? (I guess I shouldn't change anything until your Flutter change makes it to that channel).

[2020-09-30 09:14] MarcusTomlinson commented on #8
@DanTup the snap downloads stable. The user is expected to call ‘flutter channel dev/master’ to select a channel other than stable. I believe this bootstrapping fix will only be available in master for the time being - in case you get questions about that.

[2020-09-30 09:20] MarcusTomlinson commented on #8
We have told people to use the dev channel in our PR so chances are most people will be using that channel. If you remove the snap specific stuff now before the changes are in dev l, yeah, you’ll likely break a good number of people’s setups.

[2020-10-04 14:20] g5becks opened #13 "Flutter snap does not contain the dart command"
Accoring to  https://flutter.dev/docs/get-started/install/linux

Which is true if you install flutter manually, unfortunately, this is not the case when installing flutter via the snap package.

[2020-10-04 15:30] MarcusTomlinson commented on #13
Hi @g5becks, thanks for the report. That statement is still true of the snap.

The snap doesn't actually contain the Flutter SDK, it's really just a middleman that installs the SDK for you, and provides the dependancies required to build applications with it.

The SDK is installed to `~/snap/flutter/common/flutter`. There you will find both `dart` and `flutter` commands alongside each other as des

[2020-10-04 15:30] #13 closed

[2020-10-16 14:13] oSoMoN opened #14 ""git: fatal: unknown value for config 'protocol.version': 2" when switching channels"
$ flutter channel dev
    Switching to flutter channel 'dev'...
    git: fatal: unknown value for config 'protocol.version': 2
    Switching channels failed with error code 128.

This was caused by the following section in my local `~/.gitconfig`:

    [protocol]
        version = 2

I worked around the problem by commenting it out and re-running the `flutter channel` command.

It looks like the v

[2020-11-13 03:56] robert-ancell opened #15 "GSettings values don't change when running from `flutter run`"
Steps to reproduce:
1. Run a Flutter app using `flutter run` with an engine that has https://github.com/flutter/engine/pull/22486 applied.
2. Open gnome-control-center
3. Change Accessibility > Large Text setting

Expected result:
Font size in Flutter should change to match setting.

Observed result:
Font size doesn't change. The app is getting GSettings notifications that the value has changed, b

[2020-11-13 03:58] robert-ancell commented on #15
I wonder if the dconf database has been copied into the snap, so the values aren't being modified by external changes. The change events come over D-Bus I think, so these are not affected.

[2020-11-14 14:49] iapicca opened #16 "flutter does not recognize android studio"
`flutter` does not seem to recognize `android studio` when installed through `snap`

<details>
<summary>BEFORE  flutter config --android-studio-dir=</summary>

##

[code]

</details>

doing ` restart any open editors for them to read new settings.` then

<details>
<summary>AFTER  flutter config --android-studio-dir=</summary>

##

[code]
</details>

another user with the same issue on [stackoverfl

[2020-11-14 15:25] iapicca commented on #16
sorry my bad
running `flutter config --android-studio-dir=/snap/android-studio/current/android-studio`
fixes the issue for me

[2020-11-14 15:25] #16 closed

[2020-11-16 13:14] alcmoraes opened #17 "Problem during flutter run (undefined reference to `pthread_sigmask@GLIBC_2.32')"
## Steps to Reproduce

1. `sudo snap install flutter --classic`
2. `flutter channel dev`
3. `flutter upgrade`
4. `flutter config --enable-linux-desktop`
2. `flutter create xpto`
3. `cd xpto`
4. `flutter run`

**Expected results:**
The project to run on Linux

**Actual results:**
Error during step `4/5` on build:
```//lib64/liblzma.so.5: undefined reference to `pthread_sigmask@GLIBC_2.32'```

<deta

[2020-11-16 13:43] MarcusTomlinson commented on #17
Hi, could you see if the version in edge works for you:

`snap refresh flutter --edge`

[2020-11-16 13:52] alcmoraes commented on #17
Hey @MarcusTomlinson . Thanks for your response.

I did your command, but got the same error again.

By doing `flutter doctor --verbose`, I noticed my "Flutter" still says "channel dev".

Shouldn't say something like "channel edge"?

<details>
<summary>flutter doctor --verbose</summary>

[code]

</details>

<details>
<summary>flutter run</summary>

[code]

</details>

[2020-11-16 13:57] MarcusTomlinson commented on #17
Nah, flutter will still be on `dev`, it's just the snap that should'll be on `edge`.

Could you share the output of `snap info flutter`

[2020-11-16 13:59] MarcusTomlinson commented on #17
Also, what distro and version are you on?

[2020-11-16 14:37] alcmoraes commented on #17
<details>
<summary>snap info flutter</summary>

[code]

</details>

<details>
<summary>neofetch</summary>

[code]

</details>

[2020-11-16 14:46] MarcusTomlinson commented on #17
Could you try the next version of edge I just pushed:

`snap refresh flutter --edge`

[2020-11-16 16:09] MarcusTomlinson commented on #17
Ok, so this requires an update to Flutter itself (see: https://github.com/flutter/flutter/pull/70617).

In the meantime, you could workaround this by adding `lzma` to the bottom of the following `target_link_libraries` call in `<your_app>/linux/flutter/CMakeLists.txt`:

[code]

Also, I suggest switching back to the stable snap channel:

`snap refresh flutter --stable`

[2020-11-16 17:21] alcmoraes commented on #17
Great! Now it's working!

Thanks @MarcusTomlinson :+1:

[2020-11-16 17:21] #17 closed

[2020-12-10 18:56] kenvandine opened #18 "Install Flutter desktop file"
The snap should install a desktop file that takes you to a flutter page explaining what to do next.

Like https://flutter.dev/docs/get-started/editor?tab=vscode

[2020-12-10 20:42] kenvandine opened #19 "Android Studio doesn't pre-populate Flutter SDK path"
Android Studio's New Flutter Project wizard requires knowing the path to the Flutter SDK.  This isn't something most users will know when using the flutter snap.

We should do two things:

1. Add a "flutter sdk-path" command to flutter.sh that just returns $SNAP_USER_COMMON/flutter.  This could then be documented as a way to find your Flutter SDK path

2. Look at patching Android Studio to properl

[2020-12-12 08:28] #18 closed

[2020-12-15 10:08] seb128 commented on #15
The issue is specifics to snaps? Do you use the gsettings interface?

[2020-12-15 19:31] robert-ancell commented on #15
The Flutter app is local in this case, i.e. not packaged in a snap. The Flutter snap is classic, so doesn't use any interfaces. @kenvandine - did you have a theory when we discussed this?

[2020-12-15 19:35] MarcusTomlinson commented on #15
It’s difficult to diagnose this without a build. @robert-ancell any idea when your PR might land?

[2020-12-16 02:23] robert-ancell commented on #15
So I write you a small test app that does it without the PR, and it works. Then I try the PR and it works too. So perhaps something changed that has fixed this? I'll close this but please shout out if anyone sees it again. I'm currently running the flutter snap 0+git.7bbc5b7. Sorry, I didn't record the snap version when I had the issues.

[2020-12-16 02:23] #15 closed

[2020-12-16 06:37] MarcusTomlinson commented on #15
Haha. It’s quite possible that I resolved this when pulling some desktop-launch logic into the snap - kinda hoped I had. Good to hear it is fixed :)

[2020-12-17 15:56] #19 closed

[2020-12-22 07:19] TahaTesser opened #21 "Issues with Flutter on Snap after recent upgrade"
I'm a Flutter triage member, we've seen some reports recently that shows some users are facing issues with Flutter on Snap
1. https://github.com/flutter/flutter/issues/72456
2. https://github.com/flutter/flutter/issues/72659
3. https://github.com/flutter/flutter/issues/72703
4. https://github.com/flutter/flutter/issues/72985

Some users did confirm they got Flutter working after switching to `git

[2020-12-22 08:47] MarcusTomlinson commented on #21
Hmm, that's no good. I've commented asking users to try a full re-install, let's see if that makes any difference. I too cannot reproduce these issues :/ I've tried multiple upgrade paths too without error.

The first sounds possibly Wayland-specific, the second about "Error connecting to the service protocol" is brand new to me, and the third may have been caused by [a recent change](https://gith

[2020-12-22 10:07] metainfa commented on #21
Hi @MarcusTomlinson

I removed manually installed flutter (no issue when manually installed) and installed from snap package, the issue is still here [Can't run on Snap Flutter](https://github.com/flutter/flutter/issues/72456).

ps: I am using Wayland Session

<details>
  <summary>neofetch</summary>

[code]
</details>

<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

<details>

[2020-12-22 10:16] MarcusTomlinson commented on #21
Hmm, you’re saying the snap used to work on Wayland and then broke?

[2020-12-22 10:20] metainfa commented on #21
yes the snap worked, then after the update it broke

[2020-12-22 11:23] MarcusTomlinson commented on #21
I just tried this on Wayland and still no error :/

<details>
<summary>log</summary>

[code]

</details>

@metainfa, could you please try the version in edge to see if that makes any difference:

[code]

[2020-12-22 11:44] metainfa commented on #21
I tried the error remained:

[code]
[code]
[code]

<details>
  <summary>flutter run -v</summary>

[code]

[2020-12-22 11:49] metainfa commented on #21
I logged in under the X, the result is the same:

[code]

[code]

[2020-12-22 12:39] MarcusTomlinson commented on #21
From your "bug" project directory please try re-creating and running the project like so:

[code]

[2020-12-22 14:31] metainfa commented on #21
done, the result is the same:

<details>
  <summary>flutter run -v</summary>

[code]
</details>

[2020-12-22 14:34] MarcusTomlinson commented on #21
Thanks @metainfa, it appears this may not be snap specific. We’re seeing the same from another user using the flutter git repo directly: https://github.com/flutter/flutter/issues/72703#issuecomment-749529246

[2020-12-23 16:48] iapicca opened #22 "issue with bashrc export"
## steps to reproduce

- 1 install the latest master
[code]
- 2 update path in `bashrc`

[code]

and run `source ~/bashrc`; please note the `.pub-cache/bin`

- 3 run ` flutter pub global activate stagehand`

[code]

(same result with `flutter pub global activate aqueduct`)

## expected result

`export PATH="$PATH":"$HOME/snap/flutter/common/flutter/.pub-cache/bin"` should be recognized

 ## actual

[2021-01-04 15:42] MarcusTomlinson commented on #22
Hmm, adding `export PATH="$PATH":"$HOME/snap/flutter/common/flutter/.pub-cache/bin"` to the end of `~/.bashrc` worked fine for me. Did you make sure you restarted the terminal before running the `flutter pub` command?

[2021-01-04 15:47] MarcusTomlinson commented on #21
My apologies, seems the link I shared above may actually be unrelated...

[2021-01-04 17:43] MarcusTomlinson commented on #21
I've just pushed a new version of the snap to edge, please could you see if it fixes the issue for you:

[code]

[2021-01-04 17:46] iapicca commented on #22
I did, anyhow I retried  now and somehow it works
I'll close the issue for now

[2021-01-04 17:46] #22 closed

[2021-01-04 17:53] MarcusTomlinson commented on #21
I've just pushed a new version of the snap, please could you see if it fixes the issue for you:

[code]

[2021-01-04 19:13] metainfa commented on #21
Hi @MarcusTomlinson, works, no issue!

[code]

<details>
  <summary>flutter doctor -v</summary>
[✓] Flutter (Channel dev, 1.26.0-1.0.pre, on Linux, locale ru_RU.UTF-8)
    • Flutter version 1.26.0-1.0.pre at /home/akusa/snap/flutter/common/flutter
    • Framework revision 63062a6443 (3 недели назад), 2020-12-13 23:19:13 +0800
    • Engine revision 4797b06652
    • Dart version 2.12.0 (build 2.12.0

[2021-01-04 19:25] MarcusTomlinson commented on #21
Excellent, thanks for the update @metainfa!

[2021-01-04 19:25] #21 closed

[2021-01-07 12:29] brunodmn opened #23 "Flutter Snap web won't open Chrome debug/release - HttpException"
### Command
[code]
### Expected results:
The project to run normally and see the elements on the screen.

### Actual results:
It won't open Chrome.VSCode is sometimes stuck at "DevTools listening on ws://127.0.0.1.." and sometimes throwing error logs as described below.

### Already tried
 1. Change to master and dev channel and run;
 2. Tried to run with  `flutter run --release -d chrome`

### Ho

[2021-01-08 03:34] robert-ancell opened #24 "Existing build rules break after flutter snap updates"
I had a number of projects that failed to build after coming back to them after a few months. The following error is shown:

[code]

The issue is the files in `build/` contain absolute references to the binaries in the Flutter snap (revision 38 at the time of creation). My snap had since updated to revision 44 and only the old 40 was still available.

Deleting the `build/` directory and running `f

[2021-01-14 11:36] MarcusTomlinson commented on #23
Hmm, I just executed the following without fail using the flutter snap:

[code]

Using the latest build of Chrome from: https://www.google.co.uk/chrome/

[2021-01-14 11:50] MarcusTomlinson commented on #23
You might also want to try `flutter channel dev` instead of `beta`, there may well have been fixes for this since.

[2021-01-14 13:25] MarcusTomlinson commented on #24
Thanks for the detailed report @robert-ancell. This is now fixed in the latest snap.

[2021-01-14 13:25] #24 closed

[2021-01-14 16:10] brunodmn commented on #23
Hi Marcus,

Thanks for your reply.

 I've tried with same results.

What resolved was manual install flutter instead of snap install. Just wrote to let you know.

[2021-01-15 08:12] MarcusTomlinson commented on #23
Alright, I think I'll close this issue for now. We can reopen it if it becomes a problem for more people. Thanks for the info @brunodmn.

[2021-01-17 07:30] adnan449 opened #25 "The dart binary is not exported to the path when installed with snapcraft"
## Steps to Reproduce

Install flutter-sdk with snap on Linux

## Issue

`which dart` will not see any dart binaries in the path

## Expected

The command should return the path to dart: `~/snap/flutter/common/flutter/bin/dart` to confirm it is indeed exported to $PATH

## Suggestion:

Add `~/snap/flutter/common/flutter/bin/dart` to path. I manually added it to `.bashrc`

[2021-01-21 10:09] MarcusTomlinson commented on #25
I feel modifying `.bash_rc` on install is a bad idea. Other than that, I can't see how we could "fix" this.

Regardless, I don't think this is within scope of the project. The tool that this snap provides is `flutter`, not `dart`. In fact, all the `dart` operations you'd need in developing a Flutter application can be performed via the `flutter` command anyway right?

What are your thoughts on thi

[2021-01-22 06:58] adnan449 commented on #25
Do note that recent versions Flutter are expected to provide the users with a Dart SDK. Furthermore there exists no snap package for the Dart SDK at this time.

[2021-01-26 13:06] brunotacca opened #27 "Can't launch emulator with 'flutter emulators'"
Migrating the issue from flutter main repository. flutter/flutter#74538

More details can be found at the original issue, but, in summary:

By installing flutter through `snap install flutter --classic`, launching an android emulator through `flutter emulators --launch` fails, while it's possible to launch it through `emulators -avd`.

The main errors displayed on both tools while on verbose mode

[2021-01-28 16:21] MarcusTomlinson commented on #27
Hmm, I just tried this with the latest snap and Android Studio 4.1.2 installed, and worked fine via `flutter emulators --launch`.

Note that `flutter emulators --launch` opens the emulator process separate to its own, so the operation may appear to have failed whereas you just need to wait a little longer for the emulator to pop up.

I do notice that my version of emulator is newer than yours as w

[2021-01-30 16:11] brunotacca commented on #27
Hello @MarcusTomlinson, thank you for your response

The operation failed, the logs shows that it runs `shutdown hooks`:
[code]

The problem isn't related with the emulator as well (I think), since I tried recreating other versions of it.

I will try to update Android Studio and Snap as you mentioned to see if it's solved, but IMO, I suspect it must be something related with Vulkan files. Which I

[2021-01-31 20:04] MarcusTomlinson commented on #25
**Update:** We’re just waiting now on the following store request to be approved for this issue to be resolved:

https://forum.snapcraft.io/t/request-for-alias-flutter-dart-dart/22380

[2021-02-01 09:07] TahaTesser opened #28 "`flutter run -d chrome` fails fails for some users and throw an exception"
Please check out
https://github.com/flutter/flutter/issues/73976
https://github.com/flutter/flutter/issues/75073
https://github.com/flutter/flutter/issues/74985
Thank you

[2021-02-01 09:08] MarcusTomlinson commented on #23
Reopening. This seems to have effected more than one user: https://github.com/flutter/flutter/issues/72522#issuecomment-770694811

[2021-02-01 09:09] MarcusTomlinson commented on #28
Duplicate of https://github.com/canonical/flutter-snap/issues/23

[2021-02-01 09:09] #28 closed

[2021-02-05 23:40] alexandradeas commented on #25
As mentioned in that link the workaround is alias `flutter.dart` to `dart`. However, this doesn't solve the additional issue of dart tooling expecting other binaries to be included such as `dartfmt` and `dartanalyze` (https://dart.dev/tools/sdk#whats-in-the-dart-sdk). Some tools rely on these being available in the path

[2021-02-06 00:08] MarcusTomlinson commented on #25
According to https://dart.dev/tools/dart-tool:

“Before Dart 2.10, the dart command was used only to run the Dart VM. You can still use it that way, but now the command has more functionality. Over time, we expect the dart command to replace most existing commands in the Dart SDK.”

I think it’s fair that we only expose the dart tool by default. If one requires a specialized tool not accessible vi

[2021-02-07 20:34] alexandradeas commented on #25
This goes beyond modifying the path though, what were previously exposed as binaries are now commands to the dart sdk. It's not possible to alias these via snap and also requires knowledge of where a tool is running to determine if it will have access to any shell aliases.

As noted in: https://dart.dev/get-dart

Dart still bundles the additional utilities as part of its sdk (I'm assuming for the

[2021-02-07 20:44] MarcusTomlinson commented on #25
This is what I'm saying - if calling `dart` calls the Dart tool from within the Flutter SDK, what else do you need? The rest is just arguments to that command, no need for more aliases.

_If_ the Dart tool wants to call one of the other tools such as `dartfmt` or `dartanalyze` (which I very much doubt it will), then modifying your PATH will certainly be enough.

[2021-02-07 21:44] alexandradeas commented on #25
My point isn't about the dart tool but tooling in the dart ecosystem that still use these binaries, which gives users of this snap 2 options:
1. Install dart manually and potentially have different versions running based on what is calling them
2. Install flutter manually and dart manually to prevent versions getting out of sync

[2021-02-07 21:55] MarcusTomlinson commented on #25
This is the way I see it: This snap provides the Flutter SDK. According to the official Flutter install guide the only path you need be concerned with is `[FLUTTER_GIT_DIRECTORY]/flutter/bin` (see: https://flutter.dev/docs/get-started/install/linux#update-your-path).

Within this part is just two binaries: `dart` and `flutter`. This snap will provide access to these binaries via `flutter` and `dar

[2021-02-09 07:01] MarcusTomlinson commented on #25
This is now live.

[2021-02-09 07:01] #25 closed

[2021-02-11 13:30] MarcusTomlinson commented on #23
I finally managed to reproduce this on Linux Mint 20.

This is now fixed in the latest snap release.

[2021-02-11 13:30] #23 closed

[2021-02-16 11:19] kherld-hussein opened #29 "Running snapcraft error"
**'/root/parts/{app_name}/build/build/linux/release/bundle' is not a directory**

`Launching a VM.
The flutter plugin is currently in beta, its API may break. Use at your own risk.
snapd is not logged in, snap install commands will use sudo
snap "core18" has no updates available
Skipping pull flutter-extension (already ran)
Skipping pull gnome-3-28-extension (already ran)
Skipping pull quran-hadit

[2021-02-23 07:47] kherld-hussein commented on #29
Running on Ubuntu 20.04 LTS

[2021-02-25 07:09] ferraridamiano commented on #29
I have the same issue (ubuntu 20.04 LTS), `flutter run -d linux` works perfectly, but snapcraft fails with the following log:

<details>
<summary>snapcraft --use-lxd</summary>

[code]
</details>

If I run the same command with debug option, I can see that the only subfolder of root/parts/bug/build/build/linux is x64, and then inside we have /release/bundle

<details>
<summary>flutter doctor -v</su

[2021-02-25 08:59] MarcusTomlinson commented on #29
Hi, so sorry for the late reply here!

This has since been fixed in the snapcraft flutter extension but is not yet in stable. In order to get this working today you'll need to use the version of snapcraft from candidate:

`snap refresh snapcraft --candidate`

[2021-02-25 08:59] #29 closed

[2021-02-25 09:01] MarcusTomlinson commented on #27
I'm going to close this seeing that we don't seem to have any other reports of this nature. Please feel free to reopen if you uncover any more info. Thanks!

[2021-02-25 09:01] #27 closed

[2021-03-03 06:46] BorisMomot opened #31 "Snap build fails with '.../release/bundle' is not a directory"
It looks like snapcraft miss 'x64' in the path

It fails with this log:

The flutter plugin is currently in beta, its API may break. Use at your own risk.
The following snaps are required but not installed as snapcraft is running inside docker or podman container: flutter/latest/stable, core18.
Please ensure the environment is properly setup before continuing.
Ignore this message if the appropriat

[2021-03-03 06:58] MarcusTomlinson commented on #31
Duplicate of: https://github.com/canonical/flutter-snap/issues/29

See: https://github.com/canonical/flutter-snap/issues/29#issuecomment-785733894

[2021-03-03 06:58] #31 closed

[2021-03-05 21:08] adnan449 opened #32 "Flutter desktop build fails on Fedora"
I installed Flutter and VS Code installed with snap on Fedora, here's my build log:

[code]

Verbose run log: https://pastebin.com/c9NTJjig

[2021-03-06 06:26] MarcusTomlinson commented on #32
Could you please run ‘flutter run -v -d Linux’ and share the output.

[2021-03-06 06:33] adnan449 commented on #32
OP Edited

[2021-03-08 09:59] andersmmg commented on #32
I'm having an issue on Manjaro that seems to be the same, switching to the non-snap version worked

[2021-03-08 14:29] MarcusTomlinson commented on #32
@adnan449 and @andersmmg, could you please create a fresh project via `flutter create`, and run `flutter run -v -d linux` in that new directory? I'd like to see the output of a first run.

Then could you also provide the output to `flutter doctor -v`. Thanks!

[2021-03-09 13:18] Maatteogekko commented on #32
Hello sorry to break in but I am having the same issue on Manjaro with the snap installation of flutter.
I did what @MarcusTomlinson asked in his last comment.
In the file **doctor.txt** is the output of `flutter doctor -v` and in the file **run.txt** is the output of `flutter run -v -d linux`
[doctor.txt](https://github.com/canonical/flutter-snap/files/6108735/doctor.txt)
[run.txt](https://github

[2021-03-09 16:22] ferraridamiano opened #33 "Flutter beta build not supported"
Few days ago the flutter team announces that flutter for linux is now beta (even in the stable channel we have a snapshot of flutter for linux). But if I try to build my app running `snapcraft` I get this error:

`Issues while validating snapcraft.yaml: The 'apps/converternow/extensions[0]' property does not match the required schema: 'flutter-beta' is not one of ['flutter-dev', 'flutter-master',

[2021-03-10 10:19] adnan449 commented on #32
I removed my Fedora installation and installed Ubuntu LTS. This problem was also seen in OpenSUSE. I think it's an issue with properly installing Flutter desktop extra dependencies for Linux but I cannot guarantee it.

[2021-03-10 15:46] Saviq opened #34 "Flutter apps fail to run on Wayland"
On a Wayland desktop, Flutter apps fail to run.

Steps:
[code]

It seems to still look at the X11-specific `DISPLAY` var:
[code]

flokk-contacts seems to go further, but fails to render:
[code]

[2021-03-10 16:47] wmww commented on #34
FYI GTK often shows `cannot open display: :0` even on Wayland and even when `DISPLAY` is not involved. The error can even mean ":0 exists but GDK_BACKEND=wayland forced me not to use it"

[2021-03-10 17:19] MarcusTomlinson commented on #34
Hopefully fixed by: https://github.com/flutter/gallery/pull/455

[2021-03-10 18:35] agucova opened #35 "Could not resolve host when initializing flutter"
I'm copying the issue I made on the main flutter repo.

When installing the Flutter snap and initializing it through any command, the line `curl: (6) Could not resolve host: stable` appears, with no clear side effect.

Checking DNS logs show indeed failed `A` and `AAAA` DNS requests for `stable` and `stable.lan`.

## Steps to Reproduce

1. Install Flutter using snap. `snap install --classic flutte

[2021-03-10 18:35] agucova commented on #35
This only happens when installing via snap.

[2021-03-10 20:24] Saviq commented on #34
I can confirm flutter/gallery#455 fixes it there. Filed gskinnerTeam/flokk#42, as it likely just needs a rebuild with new Flutter engine supporting Wayland.

[2021-03-11 04:25] kenvandine opened #36 "Flutter builds fail on 21.04"
I'm seeing a new build failure when building on hirsute

I've reproduced the same issue with a new flutter project.  I've also attempted to stage libgcrypt20-dev in the flutter snap with no luck.  Here's the verbose build output:

ken@t14:~/src/github/flutter/foobar$ flutter build -v linux
[  +44 ms] executing: uname -m
[  +22 ms] Exit code 0 from: uname -m
[        ] x86_64
[   +9 ms] executing:

[2021-03-11 04:27] kenvandine commented on #36
Output of flutter doctor:

[✓] Flutter (Channel dev, 2.1.0-10.0.pre, on Linux, locale en_US.UTF-8)
    • Flutter version 2.1.0-10.0.pre at /home/ken/snap/flutter/common/flutter
    • Framework revision cc9b78fc5c (13 days ago), 2021-02-25 13:26:03 -0800
    • Engine revision a252ec09b7
    • Dart version 2.13.0 (build 2.13.0-77.0.dev)

[✗] Android toolchain - develop for Android devices
    ✗ Unab

[2021-03-11 04:29] kenvandine commented on #36
Same failure with flutter master:

[✓] Flutter (Channel master, 2.1.0-11.0.pre.205, on Linux, locale en_US.UTF-8)
    • Flutter version 2.1.0-11.0.pre.205 at /home/ken/snap/flutter/common/flutter
    • Framework revision 267f66a7dc (14 minutes ago), 2021-03-10 23:15:03 -0500
    • Engine revision 1b68503bc8
    • Dart version 2.13.0 (build 2.13.0-125.0.dev)

[2021-03-11 07:20] MarcusTomlinson commented on #36
Looks related to: https://github.com/canonical/flutter-snap/issues/32

We may need libgcrypt added to the CMake boilerplate upstream. Will have a look today.

[2021-03-11 07:37] TahaTesser commented on #32
We have seen a bunch of users experiencing this issue
I also managed to reproduce it myself

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

The same project runs fine with non-snap-flutter

[2021-03-11 07:48] MarcusTomlinson commented on #32
I have an idea of how to fix this. Will try sort it out today.

[2021-03-11 17:14] MarcusTomlinson commented on #35
Thanks for the detailed report @agucova. This is now fixed in the latest snap release.

[2021-03-11 17:14] #35 closed

[2021-03-11 17:16] MarcusTomlinson commented on #36
Duplicate of https://github.com/canonical/flutter-snap/issues/32.

[2021-03-11 17:16] #36 closed

[2021-03-11 17:17] #34 closed

[2021-03-11 17:18] Saviq opened #37 "Flutter apps fail to run on Pi on Wayland"
Trying to run a Flutter app (e.g. flutter-gallery) on Pi on Wayland results in:

[code]

[2021-03-12 06:04] talhabalaj opened #38 "Plugins with extra libraries as dependencies causes build to fail"
Hello,
I'm a contributor of [flutter_secure_storage](https://github.com/mogol/flutter_secure_storage), I added the Linux support to this plugin. I noted that the app build succeeds while using the manual installation of Flutter but fails with the Snap version of flutter, as the snap version of flutter can't access the locally-installed libraries (like `libsecret-dev` used in flutter_secure_storage

[2021-03-12 08:36] Saviq commented on #37
Confirmed with the basic app:

https://github.com/bugraaydogar/flutterdemo/tree/34293f685ee7c533399438b79f3505d2ea9c98bf

[2021-03-12 08:38] Saviq commented on #38
Hi @talhabalaj, just use `build-packages:`, as documented here:

https://snapcraft.io/docs/snapcraft-yaml-reference

[2021-03-12 08:41] MarcusTomlinson commented on #38
@Saviq I don't think @talhabalaj is building a snap himself, I think he's just referring to building an app using the Flutter snap. If that is the case, something is indeed wrong.

[2021-03-12 09:26] talhabalaj commented on #38
@MarcusTomlinson  Yes, building an app using Flutter snap, not building Snap which works with the configuration I have, `build-packages` and `stage-packages` both needed to be set for that. I don't why.

[2021-03-12 09:28] talhabalaj commented on #38
Problem started here: mogol/flutter_secure_storage#213

[2021-03-14 17:10] 4350pChris commented on #27
Same issue pops up for me. When capturing the debug logs I get the same errors as @brunotacca .

[code]

My setup:
* Arch Linux (5.11.4-arch1-1)
* AMD Ryzen 5 1600
* RX 580

Flutter:
[code]

[2021-03-18 09:53] Saviq commented on #37
Filed as flutter/flutter#78446, but needs more investigation before they'll accept it as a Flutter issue.

[2021-03-18 09:58] AlanGriffiths opened #39 "Snap on Ubuntu RPi3 fails to render on Wayland"
This can be reproduced on Ubuntu Core 20 and Ubuntu Server 20.04

## Steps to Reproduce

### On desktop
With the demo app and the snapcraft YAML below:
[code]

### on the RPi

If you are reproducing on Ubuntu Server, you need to add kms support. E.g.
[code]

[code]

**Expected results:** The demo displays correctly
**Actual results:** Only the decorations display

## Additional details:

Something

[2021-03-18 10:06] Saviq commented on #37
Duplicate of #39

[2021-03-18 10:06] #37 closed

[2021-03-18 18:38] MarcusTomlinson commented on #33
This is now fixed in the snapcraft extension, though not yet promoted to stable.

In the meantime you can access the update via edge like so:

`snap refresh snapcraft --edge`

[2021-03-18 18:38] #33 closed

[2021-03-18 18:39] MarcusTomlinson commented on #32
This is now fixed in the latest Flutter snap release.

[2021-03-18 18:39] #32 closed

[2021-03-19 13:41] MarcusTomlinson commented on #38
Apologies for the delay on this, been catching up on the backlog. I'll try have some answers for you early next week.

[2021-03-24 10:59] talhabalaj commented on #38
No worries.

[2021-03-25 12:50] MarcusTomlinson commented on #38
This issue is super weird.

`PkgConfig::LIBSECRET` results in a `-lpkgcfg_lib_LIBSECRET_secret-1-NOTFOUND` linker flag, but use `${LIBSECRET_LIBRARIES}` and all works perfectly with the snap.

I'm trying to wrap my head around why `PkgConfig::` would do this when `pkg_check_modules` is seemingly happy.

<img width="613" alt="Screenshot 2021-03-25 at 12 45 05" src="https://user-images.githubusercon

[2021-03-25 14:10] MarcusTomlinson commented on #38
Ok so it appears this is a bug in CMake 3.10 (installed from 18.04 into the snap). Updating the snap to a `core20` base fixes the issue for me at least.

@talhabalaj could I please ask you to give the new candidate snap a try and let me know if it works for you?

[code]

Thank you!

[2021-03-25 15:23] talhabalaj commented on #38
Thank you so much for looking into this. I'll surely try this soon and will let you know.

[2021-03-29 16:58] #38 closed

[2021-04-09 11:35] simplytestinglol opened #41 "Snap store flutter install not working"
I tried to install flutter on Ubuntu later version 20.10 and also on latest version of Linux Lite 5.4.
In both I am getting the same below error when tried to install via snap store i.e., sudo snap install flutter --classic

Then when tried to type flutter and press enter in terminal I get below error..

![image](https://user-images.githubusercontent.com/82199043/114134264-0fa14900-9925-11eb-916a-

[2021-04-09 12:03] MarcusTomlinson commented on #41
Hmm, appears to work fine on 20.10 for me here. Could you try a completely fresh install like so:

[code]

[2021-04-09 12:08] simplytestinglol commented on #41
Ya tried same error. The only way I could work around was installing via tar.gz file.
And for that also android studio was not detected and this stackoverflow https://stackoverflow.com/questions/63356096/flutter-not-detecting-android-studio/65848802 helped me.

Still snap installation not worked. Tried many times..

[2021-04-09 12:14] MarcusTomlinson commented on #41
Could you tell me if the following command works for you:

`curl -s -o releases_linux.json https://storage.googleapis.com/flutter_infra/releases/releases_linux.json`

You should then be left with a `releases_linux.json` file in your current directory.

[2021-04-09 12:22] simplytestinglol commented on #41
![image](https://user-images.githubusercontent.com/82199043/114179114-36c73d00-995c-11eb-8dc0-d1945a6495e7.png)
I tried to run the above command. And then run flutter doctor.

[2021-04-09 12:23] simplytestinglol commented on #41
![image](https://user-images.githubusercontent.com/82199043/114179373-8148b980-995c-11eb-86c7-2f2635702333.png)
These are the complete things I have done

[2021-04-09 12:28] MarcusTomlinson commented on #41
How about: `FLUTTER_STORAGE_BASE_URL=https://storage.googleapis.com flutter doctor`

[2021-04-09 12:30] simplytestinglol commented on #41
![Uploading image.png…]()

[2021-04-09 12:57] simplytestinglol commented on #41
Day before yesterday it was not working in linuxlite. Yesterday in Ubuntu it was not working.
Even today it was not working as you know.
But when I tried many times again and again uninstalling with those commands you provided and tried to install and run flutter doctor.
At one point it worked lol.
I guess there is some issue with the server.
![image](https://user-images.githubusercontent.com/8219

[2021-04-09 13:03] MarcusTomlinson commented on #41
Yeah I suspect something was up with hitting the google server from your machine. Glad it's fixed. I've updated the snap to output errors on that initial `curl` attempt to hopefully avoid this sort of confusion in the future.

[2021-04-09 13:03] #41 closed

[2021-04-13 00:38] christiancfifi commented on #39
https://github.com/flutter/flutter/issues/76178#issuecomment-818334549
I had this problem also, and I think it is caused by a small issue that we were looking into on the flutter engine github ^

In env.sh LIBGL_DRIVERS_PATH is set to /usr/... instead of $SNAP/usr/...

[2021-04-13 08:26] MarcusTomlinson commented on #39
This issue is Wayland-specific. I've commented on the linked bug though.

[2021-04-13 19:53] Atalanttore opened #42 "Flutter installed as snap package: `pub` command is not found."
## Steps to Reproduce

I have installed the Flutter 2.0.4 snap package on Linux Mint 20.1. For another Flutter package (Flutter Version Manager) I would need the `pub` command, but it is not found.

1. Install Flutter 2.0.4 snap package on Linux Mint 20.1.
2. Open Terminal.
3. Type `pub` and press Enter.

## Logs

<details>
<summary>Logs</summary>

[code]

flutter doctor -v
[✓] Flutter (Channel st

[2021-04-13 20:04] MarcusTomlinson commented on #42
Direct invocation of ‘pub’ is not supported in the snap. You’ll need to explicitly call either ‘flutter pub’ or ‘dart pub’.

[2021-04-13 20:04] #42 closed

[2021-04-13 20:17] Atalanttore commented on #42
Unfortunately, the `pub` command is required by some packages (e.g. Flutter Version Manager).

[2021-04-13 20:26] MarcusTomlinson commented on #42
You could add `alias pub='flutter pub’` to ~/.bashrc

[2021-04-14 10:59] MarcusTomlinson opened #43 "core20 build failing"
The snap started failing automatic review on core20 with the following error today:

`package contains external symlinks: usr/lib/x86_64-linux-gnu/libdbus-1.so lint-snap-v2_external_symlinks `

Subsequently, this results in libdbus linker errors when using the snap too.

[2021-04-14 14:13] Atalanttore commented on #42
Thanks for the hint, but in my specific case with the given example (Flutter Version Manager) it is [not advised](https://github.com/leoafarias/fvm#troubleshooting) and it doesn't work for me either when I try it anyway.

[2021-04-14 14:24] MarcusTomlinson commented on #42
Sorry, my mistake. That should have been: add `alias pub=‘dart pub’` to ~/.bashrc

[2021-04-14 18:29] Atalanttore commented on #42
Thank you, with this addition to `~/.bashrc` the `pub` command now works and the given example (Flutter Version Manager) can be activated.

[2021-04-22 08:52] Feichtmeier opened #44 "Unsupported GNU_PROPERTY_TYPE and drop in frame rates"
Hello there :wave:

I receive this warning when starting a flutter app with flutter installed from snap since the update to 0+git.e75662a 2021-04-15
[code]
It is probably unrelated but I also noticed that the whole performance has dropped since 0+git.e75662a 2021-04-15 and some frames are missed, it looks like the window is lagging

![](https://user-images.githubusercontent.com/15329494/115574886-

[2021-05-05 11:35] shophk opened #45 "linux build error CMake Error"
Flutter doctor did not indicate any issues.

Running: flutter run -d linux

I get the following:

CMake Error at /snap/flutter/81/usr/share/cmake-3.10/Modules/CMakeTestCXXCompiler.cmake:45 (message):
The C++ compiler

"/snap/flutter/current/usr/bin/clang++"
is not able to compile a simple test program.

It fails with the following output:

Change Dir: /home/work/AndroidStudioProjects/myapp/build/l

[2021-05-06 12:48] MarcusTomlinson commented on #45
Hi @shophk, could you tell me what distro and version you're running into this on?

[2021-05-11 18:21] Feichtmeier commented on #44
@MarcusTomlinson the performance is a little bit better with flutter version 2.3.0-1.0.pre but still progress indicators are lagging

This warning also won't go away after upgrading the flutter snap
[code]

Any idea why this is happening and if the performance is related to those warnings?
On MacOS the performance has no issues and those warnings (ofc...) don't appear (no snap :) )

[2021-05-11 18:25] MarcusTomlinson commented on #44
The performance issues are likely due to us forcing software rendering with `flutter run` via the snap:

https://github.com/canonical/flutter-snap/blob/master/env.sh#L19

This won't effect the actual build though. i.e. running the binary from the `build/linux/x64/blah/bundle/`

[2021-05-12 08:14] Feichtmeier commented on #44
Hm, I ran it from the build ... dir and it is still lagging sometimes, then it goes back to 60 fps
![Peek 2021-05-12 10-13](https://user-images.githubusercontent.com/15329494/117941904-cf116280-b30a-11eb-8311-a36a524de94f.gif)

[2021-05-12 08:28] MarcusTomlinson commented on #44
Are you running a debug or a release build?

[2021-05-12 08:32] Feichtmeier commented on #44
Release I think
![grafik](https://user-images.githubusercontent.com/15329494/117944262-5e1f7a00-b30d-11eb-9f2b-771f92e3ee67.png)

[2021-05-12 09:22] Feichtmeier commented on #44
https://user-images.githubusercontent.com/15329494/117951154-2c5de180-b314-11eb-9bfc-96e50c4e0b6b.mp4

Left is the "linux binary?" run from the bundle and right is chrome run from main.dart in vscode
Ofc the framerate is not optimal when recording but you can clearly see the lags in the linux binary :)

[2021-05-19 13:23] Feichtmeier commented on #44
@MarcusTomlinson I witched to the edge channel of the flutter snap and now the lags are gone :open_mouth:

![Peek 2021-05-19 15-22](https://user-images.githubusercontent.com/15329494/118819953-1cb33f80-b8b6-11eb-8cb8-24af6e041568.gif)

[2021-05-19 13:32] Feichtmeier commented on #44
It is still below macos desktop performance, but still good. The bigger I make the window, the more the linear progress indicator lags, but still performance is good.

https://user-images.githubusercontent.com/15329494/118821295-62bcd300-b8b7-11eb-94ef-842d7467b6f3.mp4

[2021-06-05 04:57] deepss1 commented on #32
Having the same issue with flutter installed with snap on Ubuntu 20.04

doctor output
[code]

[code]

run output
[code]

[2021-06-05 18:49] MitaiGit commented on #32
`flutter run -v -d linux
[ +207 ms] executing: uname -m
[  +96 ms] Exit code 0 from: uname -m
[        ] x86_64
[  +22 ms] executing: [/home/mitai/flutter/] git -c
log.showSignature=false log -n 1 --pretty=format:%H
[  +33 ms] Exit code 0 from: git -c log.showSignature=false log -n 1
--pretty=format:%H
[   +1 ms] 02c026b03cd31dd3f867e5faeb7e104cce174c5f
[   +1 ms] executing: [/home/mitai/flutter/]

[2021-06-08 01:32] sgehrman opened #46 "Unable to connect to Chrome debug port: 36791"
I see some other issues on this, but I didn't see a solution.

Do we have to install manually?  If so, what's the point of this snap if it's broken?

 This works, but I want to run it with VSCode's debugger
flutter run -d chrome

[2021-06-08 04:55] sgehrman commented on #46
After hours of searching, I found out that the problem was VSCode installed with snap.
 I snap removed it, then installed from the downloaded vscode .deb file and all works fine now.

[2021-06-08 04:55] #46 closed

[2021-06-15 13:16] drexhacker opened #47 "snapcraft fails with CMake Error"
When i run ```snapcraft``` to build the snap i get this error;
[code]
Any help?

[2021-06-15 13:30] MarcusTomlinson commented on #47
Because you're using `source: .` in your `snapcraft.yaml`, snapcraft pulls in host build directory (with caches) into the snap. To fix this, you can either add:

[code]

to the part with `source: .`, or just remove the `build` directory before running `snapcraft`.

[2021-06-16 09:59] MarcusTomlinson commented on #47
@deut818 you could try setting your snap base to `core20` then adding `cmake` to your part's `build-packages`.

[2021-06-18 06:52] Feichtmeier commented on #44
Alright @MarcusTomlinson I am finally kind of sure what the reason for all those lags are.
It seems that flutter apps are really dependent on the cpu freq covernor.
I used a snap called [auto cpu freq](https://snapcraft.io/auto-cpufreq) which optimizes the cpu freq. With this running there was always 1 interval with lags and then 1 interval without. After uninstalling it, and relying totally on th

[2021-07-06 18:46] mispp commented on #32
Seems to be broken again. Using flutter and visual studio code via snap. Only for linux desktop build.

[code]

[2021-07-09 22:32] mispp opened #48 "build fails on fedora"
Flutter doctor
[code]

[code]

Verbose log:
https://paste.centos.org/view/d935c01c

Probably continuation of #32

[2021-07-17 06:55] Rashik4567 commented on #45
I also got this issue on fedora 34

[2021-07-25 09:57] gmstyle commented on #45
Hi, same problem for me on Fedora 34 with flutter from snap.

[2021-07-27 17:31] ademar111190 commented on #48
I have the same bug on Open Suse:

<details>
  <summary>snap info flutter</summary>

[code]

</details>

<details>
  <summary>flutter doctor</summary>

[code]

</details>

<details>
  <summary>flutter run -d linux</summary>

[code]

</details>

<details>
  <summary>neofetch</summary>

[code]

</details>

[2021-08-02 07:48] jpnurmi commented on #48
Same on Impish (daily canary 20210801):

```/lib/x86_64-linux-gnu/libdl.so.2: undefined reference to `_dl_catch_error_ptr@GLIBC_PRIVATE```

<details><summary>snap info flutter</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

<details><summary>flutter run -v</summary>

[  +15 ms] Building Linux application...
[  +17 ms] <- compile package:ubuntu_deskto

[2021-08-03 10:44] ElectroArmy commented on #22
Hi.. I've install Flutter from snap,
when i run flutter doctor -v
![Screenshot from 2021-08-03 17-12-30](https://user-images.githubusercontent.com/39894962/128002793-1bed0077-9bed-4a33-aaac-5af6b2ccfb3d.png)

There is no ANdroid Tool Chain.
 How can i install ?

[2021-08-05 13:36] kenvandine commented on #45
I'm seeing something similar on impish

CMake Error at /snap/flutter/91/usr/share/cmake-3.10/Modules/CMakeTestCXXCompiler.cmake:45 (message):
  The C++ compiler

    "/snap/flutter/current/usr/bin/clang++"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /home/ken/src/github/canonical/firmware-updater/build/linux/x64/debug/CMakeFiles/CMakeTmp

[2021-08-12 09:37] MarcusTomlinson commented on #47
@drexhacker did you manage to come right with this?

[2021-08-12 10:05] MarcusTomlinson commented on #43
Gotten further with this (https://github.com/canonical/flutter-snap/commit/ced6e465a407d414a83a95e10ed03cafa58f1086 together with https://github.com/canonical/flutter-snap/tree/core20). But now I get:

[code]

No other errors in the log above :/

[2021-08-12 10:06] MarcusTomlinson commented on #44
@Feichtmeier do you think we could close this then?

[2021-08-12 10:07] MarcusTomlinson commented on #45
@shophk @Rashik4567 @gmstyle @kenvandine could you please try the snap from edge and let me know if the issue is now resolved:

[code]

[2021-08-12 10:07] MarcusTomlinson commented on #48
@mispp @ademar111190 @jpnurmi, could you please try the snap from edge and let me know if the issue is now resolved:

[code]

[2021-08-12 10:57] jpnurmi commented on #48
@MarcusTomlinson Still no joy but there's clearly progress because the error looks a bit different :)

[code]

[2021-08-12 10:58] jpnurmi commented on #48
FWIW, I had already thrown away the image I used previously. This was on a fresh canary 20210811 installation.

[2021-08-12 11:01] MarcusTomlinson commented on #48
@jpnurmi could you try `rm -rf build/ && flutter run -v`

[2021-08-12 11:04] jpnurmi commented on #48
Here's the full output:

[code]

[2021-08-12 15:58] drexhacker commented on #47
I will try again though you can close the issue. Thank you

[2021-08-12 16:01] #47 closed

[2021-08-12 18:08] Feichtmeier commented on #44
@MarcusTomlinson initially I only created the issue for the warning. I think it still exists, but I guess if it is no real issue we can close it
The performance is not caused by snap but by the CPU covernor

[2021-08-12 18:13] MarcusTomlinson commented on #44
Yeah, those warnings have been around for quite some time and so far appear to be harmless. I shall close, thanks.

[2021-08-13 14:48] EmixamPP commented on #45
@MarcusTomlinson Does not work for me :/ (Fedora 34 too)

[2021-08-15 15:45] MarcusTomlinson commented on #45
Please try refresh again. Thanks.

[2021-08-15 18:44] KristijanZic opened #50 "Error launching application on Linux."
I was instructed to file this issue here as I previously filed it with flutter team: https://github.com/flutter/flutter/issues/87825

## Steps to Reproduce

1. create a new flutter project and try launching it in debug mode on Ubuntu 20.04 (Linux).
2. Observe the error:
[code]

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

</details>

[2021-08-15 18:54] MarcusTomlinson commented on #50
Could you please try the snap from edge and let me know if this issue is present there:

[code]

[2021-08-16 08:22] GrishinSergeyLexpharma opened #51 "Error installing flutter via snap"
## Steps to Reproduce
I am trying to use Flutter for linux and I have a problem launching the program from Idea

[code]
I'm using a standard file bootstrap.sh

[code]
The LIBGL_DRIVERS_PATH variable gets the path "/snap/flutter/current/usr/lib/x86_64-linux-gnu/". Directory content is different from directory /usr/lib/x86_64-linux-gnu/dri/ . There is not enough file /usr/lib/x86_64-linux-gnu/dri/i9

[2021-08-16 14:08] MarcusTomlinson commented on #51
Hi @GrishinSergeyLexpharma, could you please try the snap from edge to see if the issue is now resolved:

[code]

[2021-08-16 17:17] GrishinSergeyLexpharma commented on #51
I tried, i965_drv_video.so file appeared. But flutter doesn't want to work on snaps.
[code]

If I change bootstrap.sh then flutter works
[code]

[2021-08-16 19:54] kenvandine commented on #48
The flutter snap in the edge channel should fix this.  I've confirmed it on impish, 20.04, fedora 32 and fedora 34.  Please let me know if able to still reproduce it.

[2021-08-16 19:55] kenvandine commented on #45
The flutter snap in the edge channel should fix this.  I've confirmed it on impish, 20.04, fedora 32 and fedora 34.  Please let me know if able to still reproduce it.

[2021-08-16 23:27] KristijanZic commented on #50
The issue is still present even on the edge channel.

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

</details>

[2021-08-17 23:05] pkarakal commented on #45
I had the same error on Fedora 34 and got it working by
* moving to edge channel, `snap refresh flutter --edge`
* running `flutter upgrade`
* deleting build directory `rm -r build/`
* running the application again `flutter run -d linux`

[2021-08-18 00:06] kenvandine commented on #45
This should be fixed with revision 101

[2021-08-18 00:06] #45 closed

[2021-08-18 00:07] kenvandine commented on #48
This should be fixed with revision 101

[2021-08-18 00:07] #48 closed

[2021-09-13 19:14] aebrahim opened #52 "Version 2.5 not available for download"
When will flutter version 2.5 be available on edge?

![Screenshot from 2021-09-13 12-11-57](https://user-images.githubusercontent.com/1380168/133142901-71425a22-6ac9-4360-ab4f-44d4266065bb.png)

[2021-09-14 09:46] jpnurmi commented on #52
I had the same confusion. Versions and channels of the snap package vs. Flutter are not connected. You can simply run `flutter upgrade`. :slightly_smiling_face:

[code]

[2021-09-14 09:46] #52 closed

[2021-09-14 23:36] aebrahim commented on #52
Thanks!

[2021-09-16 22:47] KristijanZic commented on #50
Any news on this issue? Flutter snap seems to be unusable still.

[2021-09-22 16:33] kenvandine commented on #50
I haven't been able to reproduce this here, tested on both impish and 20.04.  I've assigned the issue to myself to investigate further.

[2021-09-26 17:28] KristijanZic commented on #50
@kenvandine tell me what you need, what more can I provide?

[2021-09-27 15:56] lil5 opened #53 "Snap uses an old version of CMake"
I have encountered an error where I have needed to add a dependency to my project that depends on CMake.

My Linux mint (20.2) installation includes CMake version `3.16.3`, yet in flutter the dependency in question sees a version of CMake `3.10.2`.

:question: Why is such an old version of CMake used in flutter-snap, while ubuntu's repos have updated to CMake `3.16.3`?

Related issue: https://gith

[2021-09-28 15:27] jpnurmi commented on #52
I noticed that the snap was still installing an old stable version of Flutter (2.2.1 vs. 2.5.1) by default. Apparently, it was using an outdated manifest file that had been moved: https://github.com/canonical/flutter-snap/pull/54

[2021-09-28 21:01] kenvandine commented on #50
The snap fetches the SDK and stores it at runtime.  Can you please try moving that out of the way and try again?
[code]

Please let me know if that works.

[2021-09-28 23:12] KristijanZic commented on #50
I still get an error:

[code]

[2021-10-04 21:05] kenvandine commented on #50
@KristijanZic could you please try the latest revision (108) in the edge channel?  I've pushed something that I am hoping might have fixed it for you, but can't confirm as I haven't been able to reproduce your issue.

`snap refresh --edge flutter`

Try it with both your existing project as well as creating a new flutter project and report the results.

Thanks so much for helping out here!

[2021-10-07 15:11] oSoMoN opened #57 ""Failed to start Flutter renderer: Unable to create a GL context" on Ubuntu 21.10"
Since upgrading my desktop from Ubuntu 21.04 to 21.10, the installer fails to start from my development repository:

    osomon@dantian:~/build/installer/ubuntu-desktop-installer/packages/ubuntu_desktop_installer$ flutter run
    […]
    Launching lib/main.dart on Linux in debug mode...
    /snap/flutter/current/usr/bin/ld: warning: /usr/lib/gcc/x86_64-linux-gnu/11/../../../x86_64-linux-gnu/crt1.o

[2021-10-10 19:50] miDeb opened #55 "Flutter failed to create file at "/root/project/.dart_tool/flutter_build/404cb2eab34a8ea848f515d5b143e312/.filecache""
When trying to run `snapcraft` on https://github.com/miDeb/digitales_register, I got an error saying
`Failed to run 'flutter build linux --release -v -t lib/main.dart' for 'dr': Exited with code 1.`.

When I ran this command manually (using `--debug`) inside the `project/` directory, the error message said:
`Flutter failed to create file at
"/root/project/.dart_tool/flutter_build/404cb2eab34a8ea84

[2021-10-10 21:14] jpnurmi commented on #55
@miDeb That error looks familiar. Try with `--use-lxd`, it helped here.

[2021-10-12 15:01] ferraridamiano opened #56 "Slow startup"
I tried to measure the startup time of [Flutter Gallery](https://github.com/flutter/gallery). The startup time of the snap version on my PC is around 4 seconds. If I compile the same version of the app on the same pc and run it, it opens in less than 1 second. I observed similar behaviour also with my app. Can we do something in order to improve this time?

[2021-10-17 05:06] j0chn1 commented on #55
Hey,
I got this exception also. For me it makes no difference if running snapcraft or snapcraft --use-lxd.
In both cases I get that error.
Running flutter build linux --release -v -t lib/main.dart manually works firn (at least the is nor red output line ;) )

[2021-10-17 19:46] miDeb commented on #55
I can confirm that running with `--use-lxd` fixed it for me.

[2021-10-30 03:28] #57 closed

[2021-11-03 18:41] KristijanZic commented on #50
@kenvandine the same error is still present.

[2021-11-03 18:56] kenvandine commented on #50
Can you please try flutter from the edge channel?

snap refresh --edge flutter

I've confirmed that fixes it for me on 21.10 but still need to run through the test plan on other distros.

Thanks

[2021-11-03 22:27] KristijanZic commented on #50
On Ubuntu 20.04.3 LTS it's still unusable.

I still get an error:

## Logs

<details>
<summary>Logs</summary>
[code]

[code]

[code]

[code]

[code]

[code]
</details>

[$ flutter create test_app -v.txt](https://github.com/canonical/flutter-snap/files/7471079/flutter.create.test_app.-v.txt)

[2021-11-05 21:49] tsinis commented on #53
Same here, it would be nice to have a version of CMake 3.15 or higher, at least on edge. Related Issue: https://github.com/harmonoid/libwinmedia/issues/8

[2021-11-07 19:42] lil5 commented on #53
Possible duplicate of #45

[2021-11-11 20:08] the-loudspeaker commented on #45
Hey! I have tried the edge version of flutter and also did a flutter upgrade but I am still facing the issue in fedora 35. My app gives the following output:
[code]
I am on flutter revison 101.

[2021-11-19 16:51] oyejorge opened #59 "Flutter stalls at "DevTools listening""
**Command**

flutter run --verbose -d chrome

**Expected**

To launch app

**Actual results:**
A  chrome window opens but the app never loads in the tab.

**Last worked**
Yesterday. No changes to app code but chrome was updated by snap

Chrome: Version 96.0.4664.45 (Official Build) snap (64-bit)

**Output**

[code]

**flutter doctor**
[code]

[2021-11-20 13:59] tredeneo commented on #45
same error here also in fedora 35 and edge version

[2021-11-21 18:29] diysumit commented on #45
Still getting this error. I am using openSUSE Tumbleweed, tried edge version and above steps no joy.

[2021-11-24 09:02] KristijanZic commented on #50
Any news?

[2021-11-26 23:16] JoshuaNitschke commented on #45
I'm having the same issue as @diysumit - also on Tumbleweed.

[2021-11-27 12:19] fasibio commented on #45
I am have this issue also and I am a little bit wondered why a issue is so fast closed...

Flutter (Channel stable, 2.5.3, on Fedora Linux 35 (Workstation Edition) 5.14.18-300.fc35.x86_64, locale de_DE.UTF-8)

[2021-11-27 12:24] the-loudspeaker commented on #45
+1.
I don't face this issue on flutter from tar file. Only happens on snap.

[2021-12-02 22:27] JoshuaNitschke commented on #45
Are we not going to reopen this @kenvandine ?

[2021-12-03 02:22] kenvandine commented on #45
The more recent comments here are different than the original report.

Are you seeing this error:

snap/flutter/current/usr/lib/x86_64-linux-gnu/libgcrypt.so: undefined reference to `gpgrt_get_syscall_clamp@GPG_ERROR_1.0'

If not, please open a new issue.  We should have updated the title of the original report to be more specific.

I was able to reproduce that issue on fedora 34 and 35, then conf

[2021-12-05 21:58] JoshuaNitschke opened #60 "Build Linux fails on Open Suse Tumbleweed - Fails to link cmTC_698b8"
This is splitting from issue https://github.com/canonical/flutter-snap/issues/45#issuecomment-985160675
Please let me know if you need more info.

[code]

OS Details:
[code]

[code]

[code]

[2021-12-05 22:00] JoshuaNitschke commented on #45
@kenvandine - you are correct.  I have made a new issue: https://github.com/canonical/flutter-snap/issues/60

[2021-12-07 13:12] JRudransh commented on #16
I have the same problem. I installed the flutter and android studio and set path manually. but still saying [✗] Flutter IDE Support (No supported IDEs installed)

[2021-12-07 13:51] Feichtmeier commented on #16
did you install
![image](https://user-images.githubusercontent.com/15329494/145041241-c23d0892-7a37-47d9-8900-617b7d45c44b.png)
?

[2021-12-29 16:05] tsinis commented on #47
`Failed to load extension 'flutter-stable': this extension does not support the 'core20' base.` :(

[2021-12-31 04:59] bksubhuti opened #62 "Build Flutter snapcraft problems"
I followed the instructions on https://docs.flutter.dev/deployment/linux

I’m had many problems with building a flutter app with snapcraft

I installed multipass which was suggested on the flutter snap build page. It was a big mistake.

Problem 1: It is building while inside root when I type the snapcraft command

Problem 2: It is downloading and installing snap flutter and dart into root when I h

[2021-12-31 09:03] MrCsabaToth commented on #62
https://github.com/flutter/flutter/issues/95989

[2021-12-31 15:48] Silfalion commented on #60
This answer solved it for me so far:

https://stackoverflow.com/a/69430293/8568263

[2022-01-05 19:47] Jupi007 opened #63 "Clang error when building app"
When running an app with a customized `linux` folder, the build fails and returns this error:

[code]

This happens for example with https://github.com/Feichtmeier/settings, which use `libhandy` to have all rounded corners.

All other "normal" apps run as expected.

### Flutter doctor
[code]

### Full error return
[code]

[2022-01-05 20:02] jpnurmi commented on #63
This is probably not related to the snap, but you can see the linker error details by running: `/snap/bin/flutter run --verbose`.

[2022-01-05 20:06] Jupi007 commented on #63
In fact, manual install of Flutter runs well.
That's why I think it is related to the snap.

Here is the most useful lines of the verbose build return:

[code]

Btw @Feichtmeier also have this issue with the snap.

[2022-01-06 06:46] jpnurmi commented on #63
You're right, it clearly has something to do with the snap. :slightly_smiling_face: I wrongly assumed there was something wrong with the recently added libhandy linking rules.

[2022-01-17 03:16] MrCsabaToth opened #64 "The package often lags behind the latest stable Flutter SDK version"
Developers who are new to Flutter but snap users expect to get the latest Flutter SDK when they install the Flutter Snap package. The Flutter CI/CD had a build step which compiled artifacts required for snap package creations (https://github.com/flutter/flutter/issues/93497, https://github.com/flutter/flutter/issues/75363).

That was fixed and a fresher package showed up on Snapcraft on Nov 15th.

[2022-01-18 09:40] jpnurmi commented on #64
There seems to be a common understanding between the snap package version vs. the Flutter version. A new version of the snap package is only released when e.g. the snap config changes. To upgrade Flutter, you can run `flutter upgrade` just like with any other Flutter installation.

[2022-01-18 10:02] jpnurmi commented on #64
@kenvandine what about a `post-refresh` hook that runs `flutter upgrade`?

[2022-01-18 11:43] Feichtmeier commented on #64
my 2 cents on the upgrade:
1) flutter shows a new version in terminal and how to upgrade
2) upgrading, especially in master channel, sometimes makes part of your code unusable due to deprecation, I think automating this could cause more trouble than good

[2022-01-18 12:28] kenvandine commented on #64
A post-refresh hook runs as root, so won't update the user's specific flutter instance.  The snap just manages the flutter repo, so behavior is the same as if you download flutter outside of the snap, which still requires a flutter upgrade to get new versions.

[2022-01-18 12:28] #64 closed

[2022-01-18 20:05] MrCsabaToth commented on #64
Gotcha. So essentially this is a user error, maybe the Flutter Linux installation doc could emphasize how important is it to immediately upgrade to the latest after the Snap installation. And the official stance is to rely on the Flutter CLI and don't upgrade via Snap after installation?

[2022-01-19 00:31] kenvandine commented on #64
The first time you run it, the latest of the channel you selected will be grabbed.  You won't ever have to manually refresh the snap itself, that is automatic.

Anytime you change channels in flutter you do need to run flutter upgrade.

[2022-01-19 06:57] kwiatek91 commented on #55
Currently, I'm having a similar problem
When I build my flutter project for Linux using docker  on Mac m1 machine, I have valid build
But when I am using to build Raspberry Pi on the same project to run "flutter build linux" command, I have:
(When I'm using  command "flutter build linux --debug" then I don't have this error but still need release version)

`[  +32 ms] Build process failed
[  +20 m

[2022-01-25 13:04] chrwahl commented on #16
Did test and install all the above. I ran `flutter doctor -v` and it suggested running `flutter config --android-studio-dir=` and it seamed to resolve the problem itself. But the the path is now `/snap/android-studio/115/android-studio`, so I probably need to update it manually after an upgrade.

[2022-01-25 19:27] kristbaum commented on #59
I can confirm this exact problem. Flutter as snap, chromium as snap..

[2022-01-26 08:57] KirioXX opened #65 "Possibil to override build install step for monorepositorys"
Hi,
thanks for this project. It made the start to package our flutter app a breeze.

We lately moved to a mono repository structure with [melos](https://github.com/invertase/melos) to make the maintenance of our flutter apps a bit easier and share some code between the project.
Our structure looks like this:
[code]
I'm pretty new to snapcraft and my question is would it be possible to switch out t

[2022-01-28 17:40] jpnurmi commented on #65
What's the error? You can run Melos from anywhere in the project tree and it walks up the tree until it finds `melos.yaml`.

For example, running Melos somewhere deep in a subdirectory such as `./packages/ubuntu_desktop_installer/build/linux/x64/debug/bundle` finds `./melos.yaml`:

[code]

[2022-01-28 22:00] KirioXX commented on #65
Thanks for the response @jpnurmi.
The configuration in my github action looks like this:
[code]
and I think that is the problem. It looks like it just imports the snap_app folder and not the complete project.
The error I get is this one:
[code]
But when I move the snap config to the root of the project is it not running the `snapcraftctl build` in the snap_app folder.
Even not when I try to naviga

[2022-02-04 18:38] bazookon commented on #53
Hi! , any news? I have the same problem. CMake of core18 is too old, please

[2022-02-07 01:22] bazookon commented on #53
I found a solution for build a snap app with snapcraft

edit snapcarft.yaml with:

[code]

[2022-03-28 09:45] HendrikF opened #73 "Build failing: 'gnu/stubs-32.h' file not found"
Since adding the 'pdf_render' package my builds are failing because of missing header files, see below.

The solution is most likely here: https://github.com/flutter/flutter/issues/72415#issuecomment-789181842 It seems nobody ever opened an issue here.

As Snap seems to be the recommended (first listed) installation method for flutter, many installations could be broken.

[code]

[code]

[2022-03-30 07:18] rockey5520 commented on #32
Hello @MarcusTomlinson how do I update to the latest Flutter snap release?  I have installed flutter via snap couple of days ago but still same issue during my linux app build

[2022-04-12 18:24] ditman opened #74 "Chrome used by `flutter run -d chrome` from Snap install has GPU disabled"
Hello Snap!

Some Flutter users have reported that when running `flutter run -d chrome` from a Snap installation of Flutter, their Chrome instance doesn't have GPU acceleration.

* [Relevant comment](https://github.com/flutter/flutter/issues/96919#issuecomment-1058290430) (Seems to be related to Snap confinement?)

Is this something missing in the Flutter tooling, or a configuration of the package

[2022-04-12 21:33] purencool commented on #53
I raised this issue with the flutter team, and they very kindly pointed me to the Flutter Snap project. I am adding it for transparency and anyone who finds the issue I raised. Flutter plugins are now using newer versions of CMake in their plugins. Please see the attached link from the Flutter issue queue.

https://github.com/flutter/flutter/issues/101726

[2022-04-21 05:50] etokarew commented on #32
Hello @rockey5520, try [this](https://github.com/canonical/flutter-snap/issues/45#issuecomment-900688719) tip.

[2022-04-22 14:33] lapisdecor commented on #63
I'm on Ubuntu Jammy by the way (do-release-upgrade -d)

[2022-05-06 03:22] Marflage commented on #45
I am facing the same problem on Ubuntu 22.04 using Android Studio Bumblebee 2021.1.1 Patch 1.
Here is the complete error:
`CMake Error at /snap/flutter/111/usr/share/cmake-3.10/Modules/CMakeTestCXXCompiler.cmake:45 (message):
  The C++ compiler

    "/snap/flutter/current/usr/bin/clang++"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /home

[2022-05-07 08:05] KameiKojirou commented on #63
Same issue here as lapisdecor. Pop!_OS 22.04 with Snap.

[2022-05-10 13:01] aedify-swi opened #75 "Linux build issue after upgrade to PopOS 22.04"
Hej there,

unfortunately the Linux target build does not work anymore after upgrading to pop 22.04. When trying to debug my Linux app I get the following output:

[code]

CMakeOutput.log:
[code]

CMakeError.log:
[code]

I found this related issue on the flutter repo https://github.com/flutter/flutter/issues/102678, but it seems the OP didn't issue any bug here.

[2022-05-10 19:55] Torbatti commented on #45
im running arch , facing the same issue
it seems that it hasnt been fixed yet
[code]

[2022-05-12 07:57] jpnurmi opened #76 "Wrong `flutter create` working dir after implicit tool init"
`flutter create` with a fresh clean Flutter snap installation triggers initialization of the Flutter tool, which results in the project being created to `SNAP_USER_COMMON` instead of the current working directory.

[code]

NOTES:
- the same flow works with Flutter from Git
- this only happens with a fresh installation due to the tool init
- after the tool is initialized, consequent runs create pro

[2022-05-12 12:43] kenvandine commented on #75
I haven't been able to reproduce this on 22.04.  Can anyone that can reproduce it, please try flutter from the edge channel?

`snap refresh --edge flutter`

[2022-05-12 15:19] aedify-swi commented on #75
Just tried it. Still not working. VS code debug console is giving me this:
[code]

[2022-05-12 15:44] pvutov commented on #60
Same problem on ArchLinux with snap-installed flutter.

[code]

Installing clang on the system fixed it, thanks for the tip @Silfalion . Seems strange to need it with a snap package, but I'll take the win ¯\_ (ツ)_/¯

[2022-05-13 03:53] arzakmiftakhul commented on #45
I use Ubuntu 22.04 LTS and android studio Chipmunk. My problem was gone after I followed [this](https://github.com/canonical/flutter-snap/issues/45#issuecomment-900688719) @pkarakal  suggestion.

[2022-05-13 16:18] aedify-swi commented on #75
I moved to the non-snap manual installation and it works again. :shrug:

[2022-05-13 22:34] #76 closed

[2022-05-14 19:48] MiekVenter commented on #45
Installing missing tools fixed it for me. See "Update your tools with the SDK Manager" https://developer.android.com/studio/intro/update#sdk-manager

[2022-05-16 21:54] viniciusddrft commented on #45
No arch linux eu tive o mesmo erro.

flutter 3.0.0
dart 2.17.0
kernel 5.17.7-arch1-1

[2022-05-20 12:23] muezz commented on #75
@kenvandine I am also having this exact same issue. You can check this issue (now closed) for my particular details: https://github.com/flutter/flutter/issues/104239#issue-1242850727

@aedify-swi The whole point of using snaps is that I dont have to worry about every single dependency. I hope they resolve this issue soon.

[2022-05-20 12:40] jpnurmi commented on #75
@muezz Does a newly created project build?

[2022-05-20 12:58] muezz commented on #75
@jpnurmi No.

My old project (which works fine on other platforms) did not build when I updated Pop OS.
A newly created project ALSO did not build on that.

Then I did a complete FRESH install of Pop OS. And it did not build on that as well.

[2022-05-20 12:58] jpnurmi commented on #75
@muezz Did you `snap refresh --edge flutter`?

[2022-05-20 13:04] jpnurmi commented on #75
On a fresh, newly installed Pop OS 22.04:
[code]

[2022-05-20 13:05] kenvandine commented on #75
I've been unable to reproduce this on 22.04, 20.04, or Fedora.  I guess we
need to try Pop OS as well.

On Fri, May 20, 2022 at 9:02 AM muezz ***@***.***> wrote:

--
Ubuntu - "I am what I am because of who we all are"

[2022-05-20 13:08] muezz commented on #75
@kenvandine Like I mentioned earlier, I talked to another person on the flutter discord and they were also having this issue. And I opened this issue with flutter but they said that its an issue with the snap and not flutter. They mentioned something to do with something called cmake.

[2022-05-20 13:15] jpnurmi commented on #75
You can either run `flutter clean` or manually delete the `build/` directory to do a clean build.

[2022-05-20 13:19] muezz commented on #75
@jpnurmi I have even tried `flutter clean` several times.

[2022-05-20 13:24] jpnurmi commented on #75
@muezz Could you follow these steps and paste the whole output, please?
[code]

[2022-05-20 13:30] muezz commented on #75
[code]

[2022-05-20 13:35] jpnurmi commented on #75
Great! That seems to work. Would you be ok with sharing the full output of `flutter clean && flutter build linux -v` from the real project?

[2022-05-20 13:44] muezz commented on #75
[code]

[2022-05-20 13:45] muezz commented on #75
@jpnurmi  This is SO SO weird. I know for sure that I have run `flutter clean` before. Maybe not after yesterday's fresh install but I have run it. And it never solved this.

[2022-05-20 13:50] jpnurmi commented on #75
No worries, glad it works now. To summarize, the issue has been fixed in the latest Flutter snap (`snap refresh flutter`) but it's important to do a clean build after upgrading.

[2022-05-20 13:51] muezz commented on #75
Oh. I did not know that. Anyway, thanks for sparing your time and helping me with this.

[2022-05-20 13:56] #75 closed

[2022-05-21 01:58] kenvandine opened #79 "Snapcraft builds with the latest flutter snap fail with ownership error"
snapcraft builds with the flutter extension are failing since we promoted flutter from edge to stable today.  During the snapcraft build, the "flutter channel dev" command fails with this error:

 `fatal: unsafe repository ('/root/snap/flutter/common/flutter' is owned by someone else)`

[2022-05-21 09:49] jpnurmi commented on #79
https://github.blog/2022-04-12-git-security-vulnerability-announced/

[2022-05-21 10:08] #79 closed

[2022-06-20 08:58] svonidze opened #83 "Flutter installed with snap fails compiling C++ code"
Initially I reported the issue on https://github.com/flutter/flutter/issues/106102.
The issue was addressed by reinstalling `snap` flutter with `git clone`. Found solution here https://stackoverflow.com/questions/70149507/flutter-build-failed-for-android-bitmapexternalnativebuilddebug the guy had a different issue and solved with reinstalling as well.

Original description:
I have some code writte

[2022-08-26 10:58] #53 closed

[2022-09-13 16:02] kenvandine opened #86 "Add an arm64 test to the daily test job"
We should add at least one arm64 target to the daily test to ensure flutter keeps working on that architecture.

[2022-09-22 15:29] jorgeperezlara opened #87 "Add the ability to install local Debs"
I believe right now the tool lacks the ability to install local debs. May this feature be implemented?

[2022-09-29 12:21] erayerdin commented on #74
This also affects development. See: https://github.com/flutter/flutter/issues/112231

[2022-10-20 10:29] KristijanZic opened #89 "Cannot launch the app on Linux target"
debug output:

[code]

flutter doctor -v
[code]

[2022-10-20 10:36] KristijanZic commented on #89
I was a bit too fast on creating this issue report. `flutter clean` fixed the issue :)

[2022-10-20 10:36] #89 closed

[2022-10-25 04:33] alihassan143 commented on #55
@kenvandine  any solution??

[2022-10-25 05:21] alihassan143 opened #90 "[Snap-Build Error] always getting same error on building snap first snap was build successfull but after cannot be able to build any snap"
<details>
<summary>Error</summary>

[code]

</details>

<details>
  <summary>snapcraft.yaml</summary>

[code]

</details>
<details>
<summary>snapcraft.desktop</summary>

[code]
</details>

Also Asked questions on snapcraft community forum but their community is not even reply on any question

[2022-10-25 05:22] alihassan143 commented on #90
@kenvandine  kindly help on this

[2022-10-28 13:39] KristijanZic opened #91 "Flutter snap fails to load certain libraries"
On building the app and debugging the app, when using flutte snap I always get this error:

[code]

[code]
[code]

[2022-10-29 17:16] kenvandine commented on #90
Your yaml looks fine, but I can't try to reproduce it without your source.  Could you please link to the source repository?

[2022-11-01 06:41] kenvandine commented on #55
This doesn't sound related to the original issue, please file a new issue.  When I've seen issues where it builds in debug but not release, it's been an issue with one of the plugins, which is not obvious here.  Just something to check.

[2022-11-01 06:41] #55 closed

[2022-11-12 00:13] LuFlo opened #92 "Errors when doing Linux build"
I reopened a project which I was working on before and which I definitely built before. First I had the same issues as described on this stackoverflow: https://stackoverflow.com/questions/67396100/flutter-linux-build-error-when-executing-flutter-run-d-linux

I installed the packages which were suggested:

[code]

After installing the packages, I got some weird c++ compilation errors. I also tried

[2022-11-12 00:31] LuFlo commented on #92
The manual flutter install works fine, I just had to make sure to delete do a clean rebuild: https://github.com/flutter/flutter/issues/66477

[2022-11-17 09:53] erayerdin commented on #74
Not only it affects Chrome, if you launch the emulator, it runs very slow as well.

https://github.com/flutter/flutter/issues/99478

[2022-11-28 08:57] adarshmaharjan commented on #45
CMake Error at /usr/share/cmake-3.22/Modules/CMakeTestCXXCompiler.cmake:62 (message):
  The C++ compiler

    "/usr/bin/clang++"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /home/adarsh/Desktop/learning/test_flutter/build/linux/x64/debug/CMakeFiles/CMakeTmp

    Run Build Command(s):/usr/bin/ninja cmTC_77c27 && [1/2] Building CXX object

[2022-11-29 12:13] ZhulanovAA commented on #45
I'm having the same issue as [adarshmaharjan](https://github.com/adarshmaharjan) and it seems that we are both having it on PopOS so it might be related. I've updated both Flutter and PopOS since last succesful build, so it's not clear which one might be responsible for the issue

[2022-11-29 19:29] kenvandine commented on #45
I've tried this on both 22.10 and 22.04, and haven't been able to reproduce it.  Based on the comment from @adarshmaharjan, who reproduced this outside of the flutter snap, it's clearly not a snap specific issue.